// Animation
$animation-time: 0.3s;
$transition-time: 0.2s;
$ease-in-out: ease-in-out;
$animation-time-quick: 0.15s;

.dva-progress-active {
  position: relative;
  overflow: hidden;
  &:before {
    height: 100%;
    content: '';
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    position: absolute;
    animation: dva-progress-active 2s $ease-in-out infinite;
  }
}

@keyframes dva-progress-active {
  0% {
    opacity: 0.22;
    width: 0;
  }

  100% {
    opacity: 0;
    width: 100%;
  }
}

@keyframes dva-progress-active-vertical {
  0% {
    opacity: 0.22;
    height: 0;
  }

  100% {
    opacity: 0;
    height: 100%;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}